In [1]:
# File location and type
file_location = "/FileStore/tables/Dept.xml"
file_type = "xml"

# CSV options
infer_schema = "false"
first_row_is_header = "false"
delimiter = ","


dept_df=spark.read.format("com.databricks.spark.xml").option("rowTag", "dept").load("dbfs:/FileStore/tables/Dept.xml")

Department = dept_df.select('dept_id', 'dept_name')
Department.show()

emp_df = dept_df.withColumn("employee", explode(col("employee")))
Employee = emp_df.select(emp_df.dept_id, emp_df.employee.emp_id, concat(emp_df.employee.emp_fname,lit(" ") ,emp_df.employee.emp_lname) , emp_df.employee.emp_title, emp_df.employee.emp_ssn)
Employee.show()

emp_df = emp_df.withColumn("address", explode(emp_df.employee.address))
Address = emp_df.select(emp_df.employee.emp_id, emp_df.address.street_1, emp_df.address.street_2, emp_df.address.city, emp_df.address.state,       emp_df.address.zipcode,  emp_df.address.start_date,  emp_df.address.end_date)
Address.show()

In [2]:
create or replace table Department
(
   dept_id int ,
    dept_name varchar(20),
    primary key(dept_id)
);

create or replace table Address
  ( emp_id int not null,
    add_history int not null autoincrement,
    street_1 varchar(100),
    street_2 varchar(50),
    city varchar(20),
    state varchar(10),
    zipcode int,
    start_date date,
    end_date date,
    foreign key(emp_id) REFERENCES Employee(emp_id)
  );
  
  
  
create or replace table Employee(
    dept_id int,
    emp_id int,
    emp_name varchar(30),
    emp_title varchar(30),
    emp_ssn varchar(30),
    primary key(emp_id),
     FOREIGN KEY (dept_id) REFERENCES Department(dept_id)
 );